*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 430px;
    width: 350px;

    background-color: rgb(143, 183, 198);
    box-shadow: 1px 1px 5px 2px gray;
    border-radius: 8px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.inputField{
    padding: 10px 5px;
    outline: none;
    font-size: 1rem;

    border-radius: 20px;

    margin: 1rem 0;
}

img{
    margin: 1rem;
    height: 80px;
}

.tempcity h1{
    font-size: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin-bottom: 1rem;
}

.tempdata{
    height: 450px;
    width: 350px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgb(237, 238, 238);
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tempdata h2{
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-top: 1rem;
}
.tempdata p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: rgb(112, 110, 110);
}